main
	- cls = require('./_btn-group.scss');

	div(class="btn-group")
		button(type="button" class="btn-group__btn") First
		button(type="button" class="btn-group__btn") Second
		button(type="button" class="btn-group__btn") Third

	div(class="btnGroup")
		button(type="button" class="btnGroup-btn") First
		button(type="button" class="btnGroup-btn") Second
		button(type="button" class="btnGroup-btn") Third

	div(class="btnGroup")
		button(type="button" class="btnGroup__btn") First
		button(type="button" class="btnGroup__btn") Second
		button(type="button" class="btnGroup__btn") Third

	div(class="btn-group btn-group--inverted mt-4")
		button(type="button" class="btn-group__btn") First
		button(type="button" class="btn-group__btn") Second
		button(type="button" class="btn-group__btn") Third

	div(class="btnGroup btnGroup_inverted")
		button(type="button" class="btnGroup-btn") First
		button(type="button" class="btnGroup-btn") Second
		button(type="button" class="btnGroup-btn") Third

	div(class="btnGroup btnGroup_inverted")
		button(type="button" class="btnGroup__btn") First
		button(type="button" class="btnGroup__btn") Second
		button(type="button" class="btnGroup__btn") Third

	footer(class="mt-4")
		| Made for you by Jakub Phraseler

