$fontPrimary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$spacing1: .25rem;
$spacing2: .75rem;
$spacing3: 1rem;
$spacing4: 2rem;

$border1: thin solid;

$fontSizeBase: 10px; // 1rem = 10px
$fontSize1: 1.1rem;
$fontSize2: 1.4rem;
$fontSize3: 1.6rem;
$fontSize4: 2.2rem;

$colorPrimary: #222288;
$colorPrimaryInverted: #e0e0e0;
$colorSecondary: #775500;
$colorSecondaryInverted: #fff;
